<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>12.0</string>
	<key>CFBundleDisplayName</key>
	<string>DenemeBL</string>
	<key>CFBundleIdentifier</key>
	<string>com.deneme2.DenemeBL</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleName</key>
	<string>DenemeBL</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>bluetooth-peripheral</string>
	</array>
	<key>RequestWhenInUseAuthorization</key>
	<string>Need</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Need too</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Need it</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Need it too</string>
	<key>UIAppFonts</key>
	<array>
		<string>IBMPlexSansCondensed-Light.ttf</string>
		<string>IBMPlexSansCondensed-Medium.ttf</string>
		<string>IBMPlexSansCondensed-Regular.ttf</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIRequiresFullScreen</key>
	<true/>
</dict>
</plist>
